# Ignore build files
/build/

# Ignore IDE/Editor settings
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore compiled binaries
*.exe
*.o
*.obj

# Ignore SFML & other dynamic libraries (DLLs)
*.dll
